.header-container {
  display: flex;
  justify-content: center;
  margin: auto;
}

.header-wrapper {
  padding: 0 2rem;
  display: flex;
  align-items: center;
}

h1 {
  margin-left: 10px;
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1);
  }
}

.pulsating {
  transform: translateX(-50%) translateY(-50%);
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.9);
  animation: pulse 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
}

article {
  position: relative;
  max-width: 800px;
  margin-top: 5rem;
  padding: 0 2rem 0 2rem;
  margin-left: auto;
  margin-right: auto;
  background-color:rgba(255, 255, 255, 0.9);
  border: solid 1px grey;
}

#article {
  max-width: 800px;
  max-height: 250px;
  overflow-y: hidden;
  transition: max-height 0.8s linear;
}

article, #article, .header-container {
  position: relative;
  z-index: 1; 
}

#article:hover {
  max-height: 1200px;
}

#article:visited {
  transition: none;
}

#sphere-button {
  margin-bottom: 20px;
}

#back-sphere-container {
  position: fixed; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1; 
  background: linear-gradient(30deg, rgb(216, 211, 171, 0.8) 9%, #ffffff 53%);
}


#back-sphere-main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.scene {
  width: 600px;
  height: 600px;
  transform: rotateX(45deg) rotateY(45deg);
  transform-style: preserve-3d;
}

.sphere {
  position: relative;
  width: 70%;
  height: 70%;
  margin: 0 auto;
  transform-style: preserve-3d;
  animation: rotate 100s infinite linear;
}

.line {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 1px dotted gray;
  box-shadow: 1px 0px 20px -2px rgba(0, 0, 0, 0.3), 1px 0px 50px -2px rgb(255, 252, 236, 0.3);
}

@keyframes rotate {
  to {
    transform: rotateX(360deg) rotateY(360deg);
  }
}

.wrapper {
  width: 100%;
  height: 100%;
 
  transform-style: preserve-3d;
}

.img-butterfly-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  margin: 30px;
  margin-top: 5rem;
  z-index: 1;
}

.img-wrapper {
  width: 300px;
  height: 200px;
  overflow: hidden;
}

.img-wrapper img {
  width: 100%;
  height: 100%;
  filter: grayscale(80%);
  transition: all 0.3s ease;
}

.img-wrapper img:hover {
  animation: flapping 1s infinite;
}

@keyframes flapping {
  0%,
  100% {
    transform: scaleX(1);
  }
  25%,
  75% {
    transform: scaleX(0.8);
  }
  50% {
    transform: scaleX(0.6);
  }
}

#img-transition {
  margin: 20px 0 20px 0;
  max-width: 300px;
  max-height: 200px;
  box-shadow: 5px 5px 10px 1px gray;
  transition: max-width 0.7s ease, max-height 0.7s ease;
}

#img-transition:hover {
  max-height: 1200px;
  max-width: 800px;
}

#animated {
  width: 100px;
  height: 100px;
  left: 20rem;
  border-radius: 50%;
  position: absolute;
  transform: translateX(50px) translateY(100px) translateZ(50px);
}

@keyframes rotateAndPulse {
  0%,
  100% {
    transform: rotate3d(1, 1, 1, 0deg) scale(1);
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
    background-color: rgba(100, 100, 100, 0.8);
  }
  50% {
    transform: rotate3d(2, 1, 0, 180deg) scale(1.5);
    box-shadow: -10px -10px 30px rgba(0, 0, 0, 0.5);
    background-color: rgba(100, 200, 150, 0.2);
  }
}

.rotating {
  animation: rotateAndPulse 10s linear infinite;
}

#last {
  margin-bottom: 120px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-height: 100px;
  background-image: url("img/pexels-george-desipris-748626.jpg");
  background-size: cover;
  transition: max-height 0.4s ease-out;
  z-index: 2;
}

footer > p {
  padding: 20% 0 0 60%;
  letter-spacing: 10px;
  color: white;
  font-size: 5rem;
}

footer:hover {
  max-height: 600px;
  transition: max-height 1s ease-out;
}
